.col-md-6 {
  
  border-radius: 2% ;
  align-content: center;
}
.row{
  border: solid 5px white;
  border-radius: 2%;
}

#fondoForm {
  background: url(../images/forms2.jpg);
  background-size: cover;
}

.form-title{
  /* color: #E40066; */
}

#logoForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.form-container {
  margin: 0 auto;

}

.form-group{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-label{
  font-size: 3vh;
  color: #046865;
}

.form-input, .form-select {
  width: 50%;
  padding: 10px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.form-button {
  background-color: #007bff;
  width: 50%;
  color: white;
  margin-top: 5%;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

@media screen and (max-width: 1100px) {
  .form-input, .form-select{
    width: 80%;
  }
}

@media screen and (max-width: 767px) {
  .form-input, .form-select{
    width: 50%;
  }
}

@media screen and (max-width: 560px) {
  .form-input, .form-select{
    width: 80%;
  }
}

@media screen and (max-width: 370px) {
  .form-input, .form-select{
    width: 100%;
  }
}