body{
    padding: 0;
    margin: 0;
    background-color: #ACECA1;
}

.container-fluid{
    background: #69EBD0;
}

/*----------------------------------------------------------------------------------------*/

.bannerPrincipal {
    color: white;
    background: url(/images/Banner.jpg);
    background-size: cover;
    background-position: center;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.productos{
    padding: 1%;
    margin: 5% 8% 5% 8%;
}

.subtitulo{
    color: white;
    background: #49D49D;
    display: flex;
    justify-content: center;
    padding: 2%;
    margin-bottom: 8%;
}

.container{
    margin-bottom: 8%;
}

h2{
    color: white;
}

.carousel{
    width: 50vh;
}

.carousel img{
    height: 50vh;
}

.tittle{
    background: white;
    position: absolute;
    bottom: 0;
    width: 100%;
}

/*--------------------------------------------------------------------------------------------------*/

#carouselExample4{
    width: 100%;
}

.cards-wrapper {
    display: flex;
    justify-content: center;
}

.card {
    margin: 0 0.5em;
    box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
    border: none;
    border-radius: 0;
}

.card img {
    max-width: 100%;
    max-height: 50%;
}

.carousel-inner {
    padding: 1em;
}