body{
    padding: 0;
    margin: 0;
    /*background-color: rgba(0, 255, 72, .8);
    background-color: #1C7C54;*/
    background-color: #ACECA1;
}

.bannerPrincipal {
    color: white;
    background: url(/GreenWorld/images/Banner.jpg);
    background-size: cover;
    background-position: center;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.productos{
    padding: 1%;
    margin: 5% 8% 5% 8%;
}

.subtitulo{
    color: white;
    display: flex;
    justify-content: center;
    padding-top: 8%;
    margin-bottom: 8%;
}

h2{
    color: white;
}

.carousel{
    width: 50vh;
}

.carousel img{
    height: 50vh;
}

.card{
    position: absolute;
    bottom: 0;
    width: 100%;
}


