body{
    padding: 0;
    margin: 0;
    background-color: rgba(0, 255, 72, .8);
}

.subtitulo{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.plantas, .arboles, .ramos{
    margin: 10px;
    background-color: whitesmoke;
}

.bannerPrincipal {
    color: white;
    background: url(/GreenWorld/images/Banner.jpg);
    background-size: cover;
    background-position: center;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.carrusel {
    display: flex;
    overflow: scroll;
    margin: 0px 0px 0px 0px;
}

.item {
    position: relative;
    margin-bottom: 5px;
}

.item img{
    width: 100%;
    object-fit: cover;
    width: 200px;
    height: 150px;
    margin-right: 30px;
}

.card{
    position: absolute;
    width: 87%;
    bottom: 0;
    background-color: rgba(0,0, 0, .5);
    color: white;
}

.card h5{
    margin: 0;
}